# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store

# environment variables (ignora todos los .env en cualquier carpeta)
**/.env
**/.env.*
!**/.env.example

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
